@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');
#accountform_title{
    font-family: 'Figtree', sans-serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/CRH_Logo.svg/500px-CRH_Logo.svg.png);
    width: 100px;
    height: 100px;
    background-size: cover;
    color: transparent;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}
#accountform_form{
    background: #ff;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
}

#accountform_col_1.ACH, #accountform_col_2.ACH {
    width: 100% !important;
}

.accountform_field {
    margin-bottom: 16px !important;
}
