@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap');

#accountform_title{
    font-family: 'Figtree', sans-serif;
    color: transparent;
}

#accountform_title::before {
    content: "Bank Information";
    font-size: 18px;
    font-family: 'Figtree', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    color: #171717;
}

#accountform_form{
    background: transparent;
    border: 0;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 600 !important;
    width: 100% !important;
    max-width: 100% !important;
    overflow-x: hidden;
    color: #171717;
}

#accountform_col_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  border-bottom: 1px solid #D4D4D4;
}

#accountform_col_1.ACH {
    margin-bottom: 24px;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

#accountform_col_2.ACH {
    border-top: 1px solid #D4D4D4;
    padding: 0;
    align-items: flex-start;
    align-self: stretch;
}

#accountform_col_1.ACH, #accountform_col_2.ACH {
    width: 100%;
    display: block;
    padding: 0 !important;
}

#accountform_field_account_type,
#accountform_field_is_company {
  grid-column: auto; 
}

#accountform_fields_ach {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
}

#account_field_billing_address {
    margin-top: 24px;
}

#accountform_col_1::after {
  content: 'Account Holder Information';
  display: block;
  font-family: 'Figtree', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.5rem;
  margin-top: 24px;
}

#accountform_col_2.ACH {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
  border-top: 1px solid #D4D4D4;
  padding-top: 1rem;
  margin-top: 1rem;
}

#accountform_fields_personalidentity {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1rem;
}

.accountform_field {
    margin-bottom: 16px !important;
}

#accountform_field_title,
#accountform_field_account_holder_name,
#accountform_field_account_type,
#accountform_field_is_company,
#accountform_field_routing,
#accountform_field_account_number,
#accountform_field_second_account_number,
#accountform_field_exp_month,
#accountform_field_ach_sec_code,
#accountform_field_billing_address,
#accountform_field_billing_city,
#accountform_field_billing_state,
#accountform_field_billing_zip,
#accountform_field_billing_phone,
#accountform_field_dl_number,
#accountform_field_dob_year,
#accountform_field_ssn4
{
    display: flex !important;
    flex-direction: column;
    gap: 8px; 
}

#accountform_field_title,
#accountform_field_account_holder_name_label,
#accountform_field_account_type_label,
#accountform_field_is_company_label,
#accountform_field_routing_label,
#accountform_field_account_number_label,
#accountform_field_second_account_number_label,
#accountform_field_exp_month_label,
#accountform_field_ach_sec_code_label,
#accountform_field_billing_address_label,
#accountform_field_billing_city_label,
#accountform_field_billing_state_label,
#accountform_field_billing_zip-label,
#accountform_field_billing_phone_label,
#accountform_field_dl_number_label,
#accountform_field_dob_year-label,
#accountform_field_ssn4_label
{
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    flex: 100%;
    color: #171717;
}

#title,
#account_holder_name,
#account_number,
#exp_month,
#exp_year,
#routing,
#account_number,
#second_account_number,
#ach_sec_code,
#billing_address,
#billing_city,
#billing_state,
#billing_zip,
#billing_phone,
#dl_state,
#dl_number,
#dob_year,
#ssn4 {
    font-family: 'Figtree', sans-serif;
    width: 100%;
    padding: 0.6875rem 0.75rem;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #f1f1f1;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 1px solid #6c7079;
    margin-bottom: 0.25rem;
}

#title:focus-visible,
#account_holder_name:focus-visible,
#account_number:focus-visible,
#exp_month:focus-visible,
#exp_year:focus-visible,
#routing:focus-visible,
#second_account_number:focus-visible,
#ach_sec_code:focus-visible,
#billing_address:focus-visible,
#billing_city:focus-visible,
#billing_state:focus-visible,
#billing_zip:focus-visible,
#billing_phone:focus-visible,
#dl_state:focus-visible,
#dl_number:focus-visible,
#dob_year:focus-visible,
#ssn4:focus-visible {
  border-color: #14293a;
  box-shadow: 0 0 0 2px rgba(0, 94, 184, 0.25);
  outline: none;
}

#accountform_button_close,
#accountform_button_submit {
    font-family: 'Figtree', sans-serif;
    width: 100%;
    margin-top: 0.5rem;
    background: #005eb8;
    color: #fff;
    min-width: 40px;
    min-height: 40px;
    border-radius: 12px;
    padding: 8px 16px;
    border-color: transparent;
    border-width: 1px;
    gap: 8px;
    font-size: 14px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    font-weight: 600;
    cursor: pointer;
}

#accountform_button_close:hover,
#accountform_button_submit:hover {
    background-color: #002f5c;
    cursor: pointer;
}

@media (max-width: 768px) {
  #accountform_col_1.ACH {
    grid-template-columns: 1fr;
  }

  #accountform_fields_ach {
    grid-template-columns: 1fr;
  }

  #accountform_field_account_type,
  #accountform_field_is_company,
  #accountform_field_routing,
  #accountform_field_account_number,
  #accountform_field_second_account_number,
  #accountform_field_ach_sec_code {
    grid-column: 1 / -1;
  }
} 
